<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="back()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title style="text-align: center;" i18n="@@course.translation.title">Test translation</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false" menu="main"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="course" (swipe)="onSwipe($event)">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!readonly">
        <ion-row>
            <ion-col>
                <input type="file" #inputTranslate accept="*.csv" style="display: none;" (change)="importTranslation($event)" />
                <ion-fab-button (click)="loadFile()">
                    <ion-icon name="attach"></ion-icon>
                </ion-fab-button>
            </ion-col>
        </ion-row>
    </ion-fab>
    <div *ngIf="loading" style="margin-top: 100px; width: 100%; text-align: center;">
        <ion-spinner></ion-spinner>
    </div>
    <ion-list *ngIf="!loading">
        <ion-item>
            <ion-label position="fixed" i18n="@@course.edit.name">Name:</ion-label>
            <ion-input type="text" [(ngModel)]="course.name" [readonly]="readonly"></ion-input>
        </ion-item>
        <ion-item *ngFor="let lang of languages; let index = index;" rel="">
            <ion-checkbox slot="start" checked="{{ course.test.supportedLanguages.indexOf(lang[0]) >= 0}}" (ionChange)="toggleLanguage(lang[0], $event)"></ion-checkbox>
            <img src="assets/flags/{{ lang[0].toUpperCase() }}.png" height="30px" style="margin: 5px 20px 5px 0;">{{lang[1]}}

            <span *ngIf="course.test.supportedLanguages.indexOf(lang[0]) >= 0">: {{ percentTranslations[lang[0]] }}%</span>

            <ion-buttons slot="end">
                <ion-icon name="download-outline" (click)="exportCourseLanguage(lang[0])"></ion-icon>
            </ion-buttons>
        </ion-item>
        <ion-item-group style="width: 100%;" *ngIf="nbMissingTranslations">
            <ion-item-divider color="light" style="text-align: center; font-size: 1.2em; padding: 10px;">
                {{nbMissingTranslations}}&nbsp;<span i18n="@@course.translation.missing-translations">Missing translations</span>
            </ion-item-divider>
            <div *ngFor="let lang of course.test.supportedLanguages">
                <div *ngIf="missingTranslations[lang].length">
                    <ion-item *ngFor="let key of missingTranslations[lang]">{{lang}}: {{key}}</ion-item>
                </div>
            </div>
        </ion-item-group>
    </ion-list>
</ion-content>