<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="saveNback()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title style="text-align: center;" i18n="@@course.edit.title">Test Edition</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false" menu="main"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="course" (swipe)="onSwipe($event)">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!readonly">
        <ion-row>
            <ion-col>
                <ion-fab-button (click)="exportCourse()">
                    <ion-icon name="code-download-outline"></ion-icon>
                </ion-fab-button>
            </ion-col>
            <ion-col>
                <input type="file" #inputCourse accept="*.csv" style="display: none;" (change)="importCourse($event)" />
                <ion-fab-button (click)="loadFile()">
                    <ion-icon name="attach"></ion-icon>
                </ion-fab-button>
            </ion-col>
        </ion-row>
    </ion-fab>
    <div *ngIf="loading" style="margin-top: 100px; width: 100%; text-align: center;">
        <ion-spinner></ion-spinner>
    </div>
    <ion-list *ngIf="!loading">
        <ion-item-group style="border-left: 1px solid lightgrey; border-right: 1px solid lightgrey;">
            <ion-item-divider color="light" style="text-align: center; font-size: 1.2em; padding: 10px;">
                <ion-label i18n="@@course.edit.general-info">General information</ion-label>
            </ion-item-divider>
            <ion-item>
                <ion-label i18n="@@course.edit.name">Name:</ion-label>
                <ion-input type="text" [(ngModel)]="course.name" [readonly]="readonly"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label i18n="@@course.edit.level">Level:</ion-label>
                <ion-input type="number" [(ngModel)]="course.level" [readonly]="readonly"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label i18n="@@course.edit.theme">Theme:</ion-label>
                <ion-input type="text" [(ngModel)]="course.theme" [readonly]="readonly"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label i18n="@@course.edit.enabled">Enabled:</ion-label>
                <ion-input *ngIf="readonly" type="text" [readonly]="true">{{course.enabled?'Yes':'No'}}</ion-input>
                <ion-toggle *ngIf="!readonly" [(ngModel)]="course.enabled"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label i18n="@@course.edit.version">Version:</ion-label>
                <ion-input type="text" [(ngModel)]="course.test.version" [readonly]="readonly"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label i18n="@@course.edit.duration">Duration:</ion-label>
                <ion-input type="number" [(ngModel)]="course.test.duration" [readonly]="readonly"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label i18n="@@course.edit.duration-unit">Duration Unit:</ion-label>
                <ion-input *ngIf="readonly" type="text" [(ngModel)]="course.test.durationUnit" readonly="true"></ion-input>
                <ion-select *ngIf="!readonly" [(ngModel)]="course.test.durationUnit">
                    <ion-select-option value="m" i18n="@@course.edit.minute">Minute</ion-select-option>
                    <ion-select-option value="h" i18n="@@course.edit.hour">Hour</ion-select-option>
                    <ion-select-option value="d" i18n="@@course.edit.day">Day</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label i18n="@@course.edit.score">Score:</ion-label>
                <ion-input type="number" [(ngModel)]="course.test.requiredScore" [readonly]="readonly" (ionChange)="onNbQuestionChange()"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label i18n="@@course.edit.nbQuestion">Nb Question:</ion-label>
                <ion-input type="number" [(ngModel)]="course.test.nbQuestion" [readonly]="readonly"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label i18n="@@course.edit.allowedAlone">Individual allowed:</ion-label>
                <ion-input *ngIf="readonly" type="text" [readonly]="true">{{course.allowedAlone?'Yes':'No'}}</ion-input>
                <ion-toggle *ngIf="!readonly" [(ngModel)]="course.allowedAlone"></ion-toggle>
            </ion-item>
        </ion-item-group>
        <ion-item>
            <span i18n="@@course-edit.supported_languages">Languages</span>:
            <div *ngFor="let lang of course.test.supportedLanguages" style="text-align: left;">
                <img src="assets/flags/{{ lang.toUpperCase() }}.png" height="30px">
            </div>
            <ion-button slot="end" (click)="goToTranslation()" i18n="@@course-edit.manage-translation">Manage</ion-button>
        </ion-item>
        <ion-item>
            <div style="text-align: center; margin: 10px auto;">
                <div style="text-align: center; margin: 10px auto;">
                    <ion-button (click)="editMode = !editMode">
                        <span *ngIf="editMode" i18n="@@course-edit.edition-mode.switch-off">Switch off the edition mode</span>
                        <span *ngIf="!editMode" i18n="@@course-edit.edition-mode.switch-on">Switch on the edition mode</span>
                    </ion-button>
                </div>
                <div *ngIf="editMode" style="text-align: left;">
                    <p i18n="@@course-edit.edition-mode">Edition mode</p>
                    <ul>
                        <li i18n="@@course-edit.desc-switch-multi">Click on a question to switch between a question having one or several answers.</li>
                        <li i18n="@@course-edit.desc-switch-right">Click on an answer to switch between right/wrong answer</li>
                    </ul>
                </div>

            </div>
        </ion-item>
        <ion-item-group style="border-left: 1px solid lightgrey; border-right: 1px solid lightgrey;" *ngFor="let serie of course.test.series; let index = index">
            <ion-item-divider color="light" style="text-align: center; font-size: 1.2em; padding: 10px;">
                <ion-label><span i18n="@@course-edit.serie_questions">Serie of questions</span> {{index + 1}} {{serie.serieName}}</ion-label>
                <ion-icon *ngIf="editMode" slot="end" name="add" (click)="addQuestion(serie)">Q</ion-icon>
            </ion-item-divider>
            <ion-item>
                <ion-label i18n="@@course.edit.random-selection">Random selection:</ion-label>
                <ion-input *ngIf="readonly || !editMode" type="text" [readonly]="true">{{serie.selectionMode === 'RANDOM' ?'Yes':'No'}}</ion-input>
                <ion-toggle *ngIf="!readonly && editMode" [checked]="serie.selectionMode === 'RANDOM'" (ionChange)="onToggleSelectionMode(serie)"></ion-toggle>
            </ion-item>
            <ion-item *ngFor="let question of serie.questions; let qIdx = index">
                <div style="width: 100%;">
                    <p style="font-weight: bold; width: 100%;">
                        {{question.questionId}}:
                        <span innerHtml="{{question.text}}" (click)="editQuestion(question)"></span>&nbsp;
                        <ion-icon *ngIf="editMode" style="float: right; margin-top: 10px;" name="trash" (click)="deleteQuestion(serie, question, qIdx)"></ion-icon>
                    </p>
                    <ul *ngIf="editMode" style="width: 100%; padding-left: 50px;">
                        <li style="width: 100%;" (click)="onToggleMulti(question)">
                            Answer mode:
                            <span *ngIf="question.questionType === 'UNIQUE'" i18n="@@course-edit.question-single"><ion-icon name="radio-button-on-outline"></ion-icon> Single</span>
                            <span *ngIf="question.questionType === 'COMBINATION'" i18n="@@course-edit.question-multi"><ion-icon name="checkbox-outline"></ion-icon> Multi</span>
                        </li>
                        <li style="width: 100%;" *ngIf="editMode">
                            <span>Number of answer: </span>
                            <ion-input type="number" (change)="onNbAnswerChange(question, $event)" [value]="getNbAnswerChange(question)" [readonly]="readonly" min="2" max="10" style="width: 30px; display: inline-block; margin-left: 5px;"></ion-input>
                        </li>
                    </ul>
                    <p *ngFor="let answer of question.answers" style="margin-left: 10px;">
                        <span [ngClass]="{ 'right-answer' : answer.right}" (click)="toggleRightAnswer(question, answer)">
                            <span *ngIf="question.questionType === 'UNIQUE' && answer.right"><ion-icon name="radio-button-on-outline"></ion-icon></span>
                        <span *ngIf="question.questionType === 'UNIQUE' && !answer.right"><ion-icon name="radio-button-off-outline"></ion-icon></span>
                        <span *ngIf="question.questionType === 'COMBINATION' && answer.right"><ion-icon name="checkbox-outline"></ion-icon></span>
                        <span *ngIf="question.questionType === 'COMBINATION' && !answer.right"><ion-icon name="square-outline"></ion-icon></span>
                        <span>&nbsp;{{answer.answerId}}&nbsp;-&nbsp;</span>
                        </span>
                        <span innerHtml="{{answer.text}}" (click)="editAnswer(question, answer)"></span>
                    </p>
                </div>
            </ion-item>
        </ion-item-group>
    </ion-list>
    <div style="height: 100px;"></div>
</ion-content>