<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="saveNback()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title style="text-align: center;" i18n="@@course.edit.title">Test Edit</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false" menu="main"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="course" (swipe)="onSwipe($event)">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!readonly">
        <ion-row>
            <ion-col>
                <ion-fab-button (click)="exportCourseLanguages()">
                    <ion-icon name="archive-outline"></ion-icon>
                </ion-fab-button>
            </ion-col>
            <ion-col>
                <ion-fab-button (click)="exportCourse()">
                    <ion-icon name="code-download-outline"></ion-icon>
                </ion-fab-button>
            </ion-col>
            <ion-col>
                <input type="file" #inputCourse accept="*.csv" style="display: none;" (change)="importCourseFromCsv($event)" />
                <ion-fab-button (click)="loadFile()">
                    <ion-icon name="attach"></ion-icon>
                </ion-fab-button>
            </ion-col>
        </ion-row>
    </ion-fab>
    <div *ngIf="loading" style="margin-top: 100px; width: 100%; text-align: center;">
        <ion-spinner></ion-spinner>
    </div>
    <ion-list *ngIf="!loading">
        <ion-item-group style="border-left: 1px solid lightgrey; border-right: 1px solid lightgrey;">
            <ion-item-divider color="light" style="text-align: center; font-size: 1.2em; padding: 10px;">
                <ion-label i18n="@@course.edit.general-info">General information</ion-label>
            </ion-item-divider>
            <ion-item>
                <ion-label position="fixed" i18n="@@course.edit.name">Name:</ion-label>
                <ion-input type="text" [(ngModel)]="course.name" [readonly]="readonly"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="fixed" i18n="@@course.edit.level">Level:</ion-label>
                <ion-input type="number" [(ngModel)]="course.level" [readonly]="readonly"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="fixed" i18n="@@course.edit.theme">Theme:</ion-label>
                <ion-input type="text" [(ngModel)]="course.theme" [readonly]="readonly"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="fixed" i18n="@@course.edit.enabled">Enabled:</ion-label>
                <ion-input *ngIf="readonly" type="text" [readonly]="true">{{course.enabled?'Yes':'No'}}</ion-input>
                <ion-toggle *ngIf="!readonly" [(ngModel)]="course.enabled"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label position="fixed" i18n="@@course.edit.version">Version:</ion-label>
                <ion-input type="text" [(ngModel)]="course.test.version" [readonly]="readonly"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="fixed" i18n="@@course.edit.duration">Duration:</ion-label>
                <ion-input type="number" [(ngModel)]="course.test.duration" [readonly]="readonly"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="fixed" i18n="@@course.edit.duration-unit">Duration Unit:</ion-label>
                <ion-input *ngIf="readonly" type="text" [(ngModel)]="course.test.durationUnit" readonly="true"></ion-input>
                <ion-select *ngIf="!readonly" [(ngModel)]="course.test.durationUnit">
                    <ion-select-option value="m" i18n="@@course.edit.minute">Minute</ion-select-option>
                    <ion-select-option value="h" i18n="@@course.edit.hour">Hour</ion-select-option>
                    <ion-select-option value="d" i18n="@@course.edit.day">Day</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label position="fixed" i18n="@@course.edit.score">Score:</ion-label>
                <ion-input type="number" [(ngModel)]="course.test.requiredScore" [readonly]="readonly"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="fixed" i18n="@@course.edit.nbQuestion">Nb Question:</ion-label>
                <ion-input type="number" [(ngModel)]="course.test.nbQuestion" [readonly]="readonly"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="fixed" i18n="@@course.edit.allowedAlone">Individual allowed:</ion-label>
                <ion-input *ngIf="readonly" type="text" [readonly]="true">{{course.allowedAlone?'Yes':'No'}}</ion-input>
                <ion-toggle *ngIf="!readonly" [(ngModel)]="course.allowedAlone"></ion-toggle>
            </ion-item>
        </ion-item-group>
        <ion-item-group style="width: 100%;">
            <ion-item-divider color="light" style="text-align: center; font-size: 1.2em; padding: 10px;">
                <span i18n="@@course-edit.supported_languages">Languages</span>
            </ion-item-divider>
            <ion-item *ngFor="let lang of languages; let index = index;" style="text-align: right;">
                <img src="assets/flags/{{ lang[0].toUpperCase() }}.png" height="30px" style="margin: 5px 20px 5px 0;">{{lang[1]}}
                <ion-checkbox slot="end" checked="{{ course.test.supportedLanguages.indexOf(lang[0]) >= 0}}" (ionChange)="toggleLanguage(lang[0], $event)"></ion-checkbox>
            </ion-item>
        </ion-item-group>
        <ion-item-group style="border-left: 1px solid lightgrey; border-right: 1px solid lightgrey;" *ngFor="let serie of course.test.series; let index = index">
            <ion-item-divider color="light" style="text-align: center; font-size: 1.2em; padding: 10px;">
                <ion-label><span i18n="@@course-edit.serie_questions">Serie of questions</span> {{index + 1}} {{serie.serieName}}</ion-label>
            </ion-item-divider>
            <ion-item *ngFor="let question of serie.questions">
                <div>
                    <p style="font-weight: bold;">{{question.questionId}}: {{question.text}}</p>
                    <p *ngFor="let answer of question.answers" style="margin-left: 10px;">{{answer.answerId}} {{answer.right ? '*' : '-'}} {{answer.text}}</p>
                </div>
            </ion-item>
        </ion-item-group>
    </ion-list>
</ion-content>