<!--
  Generated template for the UserNewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="cancel()" detail>
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title style="text-align: center;" i18n="@@user-edit.title">Account Edition</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false" menu="main"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content *ngIf="user">
    <ion-list style="width: 100%;">
        <ion-item-group style="width: 100%;">
            <ion-item-divider color="light" i18n="@@user-edit.genral-info">General info</ion-item-divider>
            <ion-item>
                <ion-label i18n="@@user-edit.first-name">First name</ion-label>
                <ion-input type="text" [(ngModel)]="user.firstName" id="firstName" name="firstName" min="3" max="15" #firstName="ngModel" required autofocus tabindex="1"></ion-input>
            </ion-item>
            <ion-item no-lines *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
                <div *ngIf="firstName.errors.required" i18n="@@user-edit.missing-value">A value is required.</div>
            </ion-item>
            <ion-item>
                <ion-label i18n="@@user-edit.last-name">Last name</ion-label>
                <ion-input type="text" [(ngModel)]="user.lastName" id="lastName" name="lastName" min="3" max="25" #lastName="ngModel" required tabindex="2"></ion-input>
            </ion-item>
            <ion-item no-lines *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
                <div *ngIf="lastName.errors.required" i18n="@@user-edit.missing-value">A value is required.</div>
            </ion-item>
            <ion-item>
                <ion-label i18n="@@user-edit.email">Email</ion-label>
                <ion-input type="text" [(ngModel)]="user.email" id="email" name="email" min="3" max="30" #email="ngModel" required tabindex="4"></ion-input>
            </ion-item>
            <ion-item no-lines *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                <div *ngIf="email.errors.required" i18n="@@user-edit.missing-value">A value is required.</div>
            </ion-item>
            <ion-item>
                <ion-label i18n="@@user-edit.password">Password</ion-label>
                <ion-input type="password" [(ngModel)]="user.password" max="15" tabindex="5"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label i18n="@@user-edit.region">Region</ion-label>
                <ion-select [(ngModel)]="user.dataRegion">
                    <ion-select-option *ngFor="let region of constantes.regions" value="{{region}}">{{region}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label i18n="@@user-edit.speaking-languages">Speaking languages</ion-label>
                <ion-select [(ngModel)]="user.speakingLanguages" multiple="true">
                    <ion-select-option *ngFor="let lang of constantes.languages" value="{{lang[0]}}">{{lang[1]}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label i18n="@@user-edit.country">Country</ion-label>
                <ion-select [(ngModel)]="user.country" interface="action-sheet" required="true">
                    <ion-select-option *ngFor="let country of constantes.countries" value="{{country[0]}}">{{country[1]}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label i18n="@@user-edit.role">Role</ion-label>
                <span style="text-align: right;">{{user.role}}</span>
            </ion-item>
        </ion-item-group>
        <ion-item-group style="width: 100%;">
            <ion-item-divider color="light"><span i18n="@@user-edit.teacher-qualifications">Teacher qualifications</span>
                <ion-icon name="add" slot="end" (click)="addQual()" style="margin-right: 20px;"></ion-icon>
            </ion-item-divider>
            <ion-item *ngFor="let qual of user.teacherQualifications; let index = index;" style="text-align: right;">
                <ion-select [(ngModel)]="qual.region" style="margin-right: 30px; text-align: right;">
                    <ion-select-option *ngFor="let region of constantes.regions" value="{{region}}">{{region}}</ion-select-option>
                </ion-select>
                <ion-select [(ngModel)]="qual.level" style="margin-right: 30px; text-align: right;">
                    <ion-select-option value="1">1</ion-select-option>
                    <ion-select-option value="2">2</ion-select-option>
                    <ion-select-option value="3">3</ion-select-option>
                </ion-select>
                <ion-select [(ngModel)]="qual.status" style="text-align: right;">
                    <ion-select-option value="NotQualified" i18n="@@user-edit.qualification-notqualified">Not Qualified</ion-select-option>
                    <ion-select-option value="Learner" i18n="@@user-edit.qualification-learner">Learner</ion-select-option>
                    <ion-select-option value="Qualified" i18n="@@user-edit.qualification-qualified">Qualified</ion-select-option>
                </ion-select>
                <ion-icon name="trash" slot="end" (click)="deleteQual(index)"></ion-icon>
            </ion-item>
        </ion-item-group>
        <ion-item-group>
            <ion-item-divider color="light" i18n="@@user-edit.data-privacy">Data privacy</ion-item-divider>
            <form #form="ngForm" style="margin-bottom: 50px;">
                <ion-item>
                    <ion-label style="white-space: normal; margin: 0;" i18n="@@user-edit.privacy-data">Sharing of my personal (fields above) data to the application users</ion-label>
                    <sharing-comp name="personnalInfoSharing" [(ngModel)]="user.dataSharingAgreement.personnalInfoSharing"></sharing-comp>
                </ion-item>
            </form>
        </ion-item-group>
    </ion-list>
    <div round *ngIf="error.length > 0" class="alert alert-danger">
        <span i18n="@@user-edit.fix-pb">Please fix the following problem(s)</span>:
        <ul>
            <li *ngFor="let er of error">{{er}}</li>
        </ul>
    </div>
    <div style="text-align: center;">
        <ion-button shape="round" color="danger" (click)="deleteAccount()" *ngIf="user.dataStatus !== 'NEW' && !saving" i18n="@@user-edit.button-delete-account">Delete Account</ion-button>
        <ion-button shape="round" (click)="newUser($event)" [disabled]="firstName.invalid && lastName.invalid && !saving" i18n="@@user-edit.button-save">Save</ion-button>
    </div>
</ion-content>