<ion-app>
    <ion-menu menuId="main" side="end" disabled="false" contentId="ctt">
        <ion-header>
            <ion-toolbar>
                <ion-title>Menu</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content id="ctt">
            <ion-list>
                <ion-item *ngIf="this.connectedUserService.isConnected()">
                    <ion-icon name="home-outline" scope="start"></ion-icon>
                    <ion-button fill="clear" (click)="route()">Home</ion-button>
                </ion-item>
                <ion-item *ngIf="this.connectedUserService.isConnected()">
                    <ion-icon name="log-out-outline" scope="start"></ion-icon>
                    <ion-button fill="clear" (click)="logout()">Log out</ion-button>
                </ion-item>
                <ion-item>
                    <ion-icon name="refresh" scope="start"></ion-icon>
                    <ion-button fill="clear" (click)="reloadPage()">Reload application</ion-button>
                </ion-item>
                <ion-item *ngIf="this.connectedUserService.isConnected()">
                    <ion-icon name="file-tray-stacked-outline" scope="start"></ion-icon>
                    <ion-button fill="clear" (click)="route('/course')">Courses</ion-button>
                </ion-item>
                <ion-item *ngIf="this.connectedUserService.isConnected()">
                    <ion-icon name="alarm-outline" scope="start"></ion-icon>
                    <ion-button fill="clear" (click)="route('/session')">Sessions</ion-button>
                </ion-item>
                <ion-item *ngIf="this.connectedUserService.isConnected()">
                    <ion-icon name="people-outline" scope="start"></ion-icon>
                    <ion-button fill="clear" (click)="route('/teacher')">Teachers</ion-button>
                </ion-item>
                <ion-item *ngIf="this.connectedUserService.isConnected()">
                    <ion-icon name="options-outline" scope="start"></ion-icon>
                    <ion-button fill="clear" (click)="route('/settings')">Settings</ion-button>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>