<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button routerLink="/home" detail>
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title style="text-align: center;">Teachers</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false" menu="main"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content (swipe)="onSwipe($event)">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!readonly">
        <ion-fab-button (click)="addTeacher()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <div>
        <ion-searchbar style="width: 100%; display: inline-block;" [(ngModel)]="searchInput" (ionChange)="onSearchBarInput()"></ion-searchbar>
        <div *ngIf="loading" style="margin: 20px auto; text-align: center;">
            <ion-spinner></ion-spinner>
        </div>
        <ion-refresher (ionRefresh)="doRefresh($event)" closeDuration="700ms" slot="fixed">
            <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
    </div>
    <ion-list style="margin: 0px 0 60px 0;">
        <ion-item *ngFor="let teacher of teachers">
            <!-- #BEF990 style='--color: #D8FFFF;' -->
            <ion-label style="border: none;" class="listItemButton">
                <span>{{teacher.firstName}} {{teacher.lastName}}</span>
                <ul>
                    <li *ngFor="let qual of teacher.teacherQualifications">{{qual.region}} / Level {{qual.level}}:{{qual.status}}</li>
                </ul>
            </ion-label>
            <ion-icon *ngIf="!readonly && teacher.role === 'TEACHER'" slot="end" name="trash" (click)="deleteItem(teacher)"></ion-icon>
        </ion-item>
    </ion-list>
    <div style="height: 150px;"></div>
</ion-content>