<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button routerLink="/home" detail>
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title style="text-align: center;" i18n="@@teacher-list.title">Teachers</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false" menu="main"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content (swipe)="onSwipe($event)">
    <ion-fab *ngIf="!readonly" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="addTeacher()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <div>
        <ion-searchbar style="width: 100%; display: inline-block;" [(ngModel)]="searchInput" (ionChange)="searchTeachers()"></ion-searchbar>
        <div *ngIf="loading" style="margin: 20px auto; text-align: center;">
            <ion-spinner></ion-spinner>
        </div>
        <ion-refresher (ionRefresh)="searchTeachers()" closeDuration="700ms" slot="fixed">
            <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
    </div>
    <ion-list style="margin: 0px 0 60px 0;">
        <ion-item>
            <ion-label i18n="@@teacher-list.country">Sort by country</ion-label>
            <ion-toggle *ngIf="!readonly" [(ngModel)]="showByCountry"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label i18n="@@teacher-list.speaking-language">Languages</ion-label>
            <ion-select [(ngModel)]="speakingLanguage" (ionChange)="searchTeachers()" interface="action-sheet">
                <ion-select-option value="">All</ion-select-option>
                <ion-select-option *ngFor="let lang of constantes.languages" value="{{lang[0]}}">{{lang[1]}}</ion-select-option>
            </ion-select>
        </ion-item>
        <div *ngIf="!showByCountry">
            <ion-item *ngFor="let teacher of teachers">
                <!-- #BEF990 style='--color: #D8FFFF;' -->
                <ion-label style="border: none;" class="listItemButton">
                    <div>{{teacher.firstName}} {{teacher.lastName}}&nbsp;<span style="font-size: 0.8em;" *ngIf="teacher.country">({{teacher.country}})</span></div>

                    <div style="font-size: 0.8em;">{{teacher.email}}</div>
                </ion-label>
                <ion-icon *ngIf="isAdmin" slot="end" name="create" routerLink="/user/edit/{{teacher.id}}"></ion-icon>
                <ion-icon *ngIf="isAdmin" slot="end" name="trash" (click)="deleteTeacher(teacher)"></ion-icon>
            </ion-item>
        </div>
        <div *ngIf="showByCountry">
            <ion-item-group style="border-left: 1px solid lightgrey; border-right: 1px solid lightgrey;" *ngFor="let entry of country2Teachers | keyvalue">
                <ion-item-divider color="light" style="text-align: center; font-size: 1.2em; padding: 10px;">
                    <ion-label>{{toolService.isValidString(entry.key) ? entry.key : 'Others'}}</ion-label>
                </ion-item-divider>
                <ion-item *ngFor="let teacher of entry.value">
                    <ion-label style="border: none;" class="listItemButton">
                        <div>{{teacher.firstName}} {{teacher.lastName}}</div>
                        <div style="font-size: 0.8em;">{{teacher.email}}</div>
                    </ion-label>
                    <ion-icon *ngIf="isAdmin" slot="end" name="create" routerLink="/user/edit/{{teacher.id}}"></ion-icon>
                    <ion-icon *ngIf="isAdmin" slot="end" name="trash" (click)="deleteTeacher(teacher)"></ion-icon>
                </ion-item>
            </ion-item-group>
        </div>
    </ion-list>
</ion-content>