<ion-header>
    <ion-toolbar>
        <span slot="start" style="margin-left: 10px;"><img src="assets/imgs/logo.png" height="30" alt="logo"/></span>
        <ion-title style="text-align: center;">{{'user-login.title'|translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false" menu="main"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div style="text-align: center; margin-top: 30px;"><img src="assets/imgs/logo.png" height="120" alt="logo"/></div>
    <div style="text-align: center; margin: 10px 0;" [innerHTML]="'user-login.welcome'|translate"></div>
    <ion-list>
        <ion-item>
            <ion-input label="{{'user-login.email'|translate}}" type="email" [(ngModel)]="email" tabindex="1"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input label="{{'user-login.password'|translate}}" type="password" [(ngModel)]="password" tabindex="2"></ion-input>
        </ion-item>
        <ion-item style="text-align: right;">
            <ion-checkbox scope="end " [checked]="savePassword ">{{'user-login.remember-on-device'|translate}}</ion-checkbox>
        </ion-item>
    </ion-list>
    <div style="text-align: right; margin-right: 10px; ">
        <a (click)="resetPassword()">{{'user-login.reset-password'|translate}}</a> &nbsp;
    </div>
    <div *ngIf="errors && errors.length " style="margin: 5px 20px ">
        <div style="color: red;">{{'user-login.errors'|translate}}</div>
        <ul>
            <li *ngFor="let error of errors ">{{error}}</li>
        </ul>
    </div>
    <div style="text-align: center; margin-top: 20px; ">
        <ion-button shape="round" color="success" size="large" (click)="createAccount() ">
            <ion-icon name="add" scope="start"></ion-icon>&nbsp;
            {{'user-login.button-create-account'|translate}}
        </ion-button>
        <ion-button shape="round " size="large" (click)="login() ">
            <ion-icon name="log-in" scope="start"></ion-icon>&nbsp;
            {{'user-login.button-login'|translate}}
        </ion-button>
    </div>
</ion-content>