<ion-header>
    <ion-toolbar>
        <span slot="start" style="margin-left: 10px;"><img src="assets/imgs/logo.png" height="30" /></span>
        <ion-title style="text-align: center;" i18n="@@home.page-title">Test Course App</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false" menu="main"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card *ngIf="teacherSessions && teacherSessions.length" style='--background: lightgrey;'>
        <ion-card-header>
            <ion-card-title i18n="@@home.teacher-list-sessions">Your sessions as teacher</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-item *ngFor="let session of teacherSessions" routerLink="/session/edit/{{session.id}}">
                <ion-label>
                    <div>{{dateService.date2string(session.startDate)}} / {{session.keyCode}} / {{session.status}}</div>
                    <div style="margin-left:20px;">
                        <div style="font-weight: bold;">{{session.courseName}}</div>
                        <div *ngIf="session.autoPlay"><span i18n="@@session.individual-learner">Individual learner</span>: {{session.participants[0].person.firstName}} {{session.participants[0].person.lastName}}</div>
                        <div *ngIf="!session.autoPlay">
                            <div>{{session.participants.length}} participants.</div>
                        </div>
                    </div>
                </ion-label>
            </ion-item>
            <div style="text-align: right; margin-top: 10px;">
                <ion-button shape="round" class="instantButton" routerLink="/session/create">
                    <ion-icon name="add-outline"></ion-icon>
                </ion-button>
            </div>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="learnerSessions && learnerSessions.length" style='--background: lightgrey;'>
        <ion-card-header>
            <ion-card-title i18n="@@home.learner-list-sessions">Your exams</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list class="sessionList">
                <ion-item *ngFor="let session of learnerSessions" (click)="routeLearnerSession(session)">
                    <ion-label>
                        <div>{{dateService.date2string(session.startDate)}}: {{session.status === 'CLOSED' || session.status === 'CORRECTION' ? getSessionResult(session) : session.status}}</div>
                        <div style="margin-left:20px; font-weight: bold;">{{session.courseName}}</div>
                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="isTeacher && groupCourses && groupCourses.length" style='--background: lightgrey;'>
        <ion-card-header>
            <ion-card-title i18n="@@home.group-session-exam.title">Create a group session</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p i18n="@@home.group-session-exam.description">To start an exam for a group of participants, please select the test name.</p>
            <ion-list style="margin: 20px 0 20px 20px;">
                <ion-select [(ngModel)]="groupCourseId" class="instantSelect" interface="action-sheet">
                    <ion-select-option *ngFor="let course of groupCourses" value="{{course.id}}"><span style="padding: 5px;">{{course.name}}</span></ion-select-option>
                </ion-select>
            </ion-list>
            <div style="text-align: right;">
                <ion-button (click)="createGroupSession()" shape="round" class="instantButton">
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </ion-button>
            </div>
        </ion-card-content>
    </ion-card>
    <ion-card style='--background: lightgrey;'>
        <ion-card-header>
            <ion-card-title i18n="@@home.register-session">Register to an existing group session</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <div class="keyCodeLine">
                <ion-input class="keyCodeInput" type="text" autocapitalize="true" autofocus="true" size="8" minlength="8" color="danger" maxlength="8" [(ngModel)]="sessionCode" placeholder="Code">
                </ion-input>
                <div class="keyCodeButton">
                    <ion-button (click)="registerToSession()" shape="round">
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                    </ion-button>
                </div>
            </div>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="individualCourses && individualCourses.length" style='--background: lightgrey;'>
        <ion-card-header>
            <ion-card-title i18n="@@home.individual-online-exam.title">Individual online instant exam</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p i18n="@@home.individual-online-exam.description">To run immediately a new individual online test, please select the test name and the teacher who will validate the examen.</p>
            <ion-list style="margin: 20px 0 20px 20px;">
                <ion-item>
                    <ion-label position="floating">Course</ion-label>
                    <ion-select [(ngModel)]="individualCourseId" class="instantSelect" interface="action-sheet">
                        <ion-select-option *ngFor="let course of individualCourses" value="{{course.id}}"><span style="padding: 5px;">{{course.name}}</span></ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label position="floating" i18n="@@home.individual-online-exam.teacher">Teacher</ion-label>
                    <ion-select [(ngModel)]="teacherId" class="instantSelect" interface="action-sheet">
                        <ion-select-option *ngFor="let teacher of teachers" value="{{teacher.id}}"><span style="padding: 5px;">{{teacher.firstName}} {{teacher.lastName}}</span></ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-list>
            <div style="text-align: right;">
                <ion-button (click)="runInstantSession()" shape="round" class="instantButton">
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </ion-button>
            </div>
        </ion-card-content>
    </ion-card>
    <div style="text-align: center; margin: 10px auto;" *ngIf="showInstallBtn">
        <ion-button (click)="addToHome()" i18n="@@home.install-on-device">Install on device</ion-button>
    </div>
    <div color="light" style="text-align: center; font-size: 0.8em; margin-top: 15px;"><span i18n="@@home.connected-as">Connected as</span> {{currentUser?.firstName}} {{currentUser?.lastName}}.</div>
    <div style="margin: 10px auto; text-align: center;">
        <span *ngFor="let lg of applicationLanguages" [ngClass]="{ 'selectedLang': lg === localeId}" style="margin: 0 10px;">
             <a href="/{{lg}}/index.html"><img src="assets/flags/{{lg.toUpperCase()}}.png" height="30px" style="margin-top: 10px;"></a>
        </span>
    </div>
</ion-content>