<ion-header>
    <ion-toolbar>
        <span slot="start" style="margin-left: 10px;"><img src="assets/imgs/logo.png" height="30" alt="logo"/></span>
        <ion-title style="text-align: center;">{{ 'home.page-title' | translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false" menu="main"></ion-menu-button>
        </ion-buttons>
        </ion-toolbar>
</ion-header>
<ion-content>
    <ion-segment value="learner" [ngModel]="currentRole" (ionChange)="roleSelected()" *ngIf="isTeacher">
        <ion-segment-button value="learner">
          <ion-label>Learner</ion-label>
        </ion-segment-button>
        <ion-segment-button value="teacher">
          <ion-label>Teacher</ion-label>
        </ion-segment-button>
      </ion-segment>
    <ion-card *ngIf="currentRole==='teacher' && teacherSessions && teacherSessions.length" style='--background: lightgrey;'>
        <ion-card-header>
            <ion-card-title>{{ "home.teacher-list-sessions" | translate}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-item *ngFor="let session of teacherSessions" routerLink="/session/edit/{{session.id}}">
                <ion-label>
                    <div>{{dateService.date2string(session.startDate)}} / {{session.keyCode}} / {{session.status}}</div>
                    <div style="margin-left:20px;">
                        <div style="font-weight: bold;">{{session.courseName}}</div>
                        <div *ngIf="session.autoPlay">{{ 'session.individual-learner' | translate}}: {{session.participants[0].person.firstName}} {{session.participants[0].person.lastName}}</div>
                        <div *ngIf="!session.autoPlay">
                            <div translate [translateParams]="{value: session.participants.length}">session.individual-learner-participants</div>
                        </div>
                    </div>
                </ion-label>
            </ion-item>
            <div style="text-align: right; margin-top: 10px;">
                <a routerLink="/session/list">{{ 'home.teacher-list-sessions-all' | translate }}</a>
            </div>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="currentRole==='teacher' && isTeacher && groupCourses && groupCourses.length" style='--background: lightgrey;'>
        <ion-card-header>
            <ion-card-title>{{ "home.group-session-exam.title" | translate }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>{{ "home.group-session-exam.description" | translate }}</p>
            <ion-list style="margin: 20px 0 20px 20px;">
                <ion-select label="{{ 'home.group-session-exam.course' | translate }}" labelPlacement="floating" [(ngModel)]="groupCourseId" class="instantSelect" interface="action-sheet">
                    <ion-select-option *ngFor="let course of groupCourses" value="{{course.id}}"><span style="padding: 5px;">{{course.name}}</span></ion-select-option>
                </ion-select>
            </ion-list>
            <div style="text-align: right;">
                <ion-button (click)="createGroupSession()" shape="round" class="instantButton">
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </ion-button>
            </div>
        </ion-card-content>
    </ion-card>

    <ion-card *ngIf="currentRole==='learner' && learnerSessions && learnerSessions.length" style='--background: lightgrey;'>
        <ion-card-header>
            <ion-card-title>{{ "home.learner-list-sessions" | translate }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list class="sessionList">
                <ion-item *ngFor="let session of learnerSessions" (click)="routeLearnerSession(session)">
                    <ion-label>
                        <div>{{dateService.date2string(session.startDate)}}: {{session.status === 'CLOSED' || session.status === 'CORRECTION' ? getSessionResult(session) : session.status}}</div>
                        <div style="margin-left:20px; font-weight: bold;">{{session.courseName}}</div>
                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-card style='--background: lightgrey;' *ngIf="currentRole==='learner'">
        <ion-card-header>
            <ion-card-title>{{ "home.register-session.title" | translate }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <div class="keyCodeLine">
                <ion-input class="keyCodeInput" type="text" autocapitalize="true" autofocus="true" size="8" minlength="8" color="danger" maxlength="8" [(ngModel)]="sessionCode" placeholder="{{ 'home.register-session.code' | translate }}">
                </ion-input>
                <div class="keyCodeButton">
                    <ion-button (click)="registerToSession()" shape="round">
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                    </ion-button>
                </div>
            </div>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="currentRole==='learner' && individualCourses && individualCourses.length" style='--background: lightgrey;'>
        <ion-card-header>
            <ion-card-title>{{ "home.individual-online-exam.title" | translate }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>{{ "home.individual-online-exam.description" | translate }}</p>
            <ion-list style="margin: 20px 0 20px 20px;">
                <ion-item>
                    <ion-select label="{{ 'home.individual-online-exam.course' | translate }}" labelPlacement="floating" [(ngModel)]="individualCourseId" class="instantSelect" interface="action-sheet">
                        <ion-select-option *ngFor="let course of individualCourses" value="{{course.id}}"><span style="padding: 5px;">{{course.name}}</span></ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-select label="{{ 'home.individual-online-exam.teacher' | translate }}" labelPlacement="floating" [(ngModel)]="teacherId" class="instantSelect" interface="action-sheet">
                        <ion-select-option *ngFor="let teacher of teachers" value="{{teacher.id}}"><span style="padding: 5px;">{{teacher.firstName}} {{teacher.lastName}}</span></ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-list>
            <div style="text-align: right;">
                <ion-button (click)="runInstantSession()" shape="round" class="instantButton">
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </ion-button>
            </div>
        </ion-card-content>
    </ion-card>

    <div style="text-align: center; margin: 10px auto;" *ngIf="showInstallBtn">
        <ion-button (click)="addToHome()">{{ 'home.install-on-device' | translate }}</ion-button>
    </div>
    <div color="light" style="text-align: center; font-size: 0.8em; margin-top: 15px; margin-bottom: 50px;">{{ 'home.connected-as' | translate }} {{currentUser?.firstName}} {{currentUser?.lastName}}.</div>
</ion-content>