.welcome {
    text-align: center;
    font-size: 2em;
    color: blue;
    margin-bottom: 20px;
}

.menu-entry {
    text-align: center;
}

.logo {
    margin-top: 25vh;
}

.sessionListTitle {
    margin: 20px 0 10px 20px;
}

.sessionList {}

.keyCodeLine {
    margin: 10px auto;
    display: flex;
    text-align: center;
}

.keyCodeInput,
.keyCodeButton {
    margin: auto 5px;
}

.keyCodeInput {
    font-size: 1.8em;
    text-transform: uppercase;
    border: 1px solid blue;
    width: 80%;
    display: inline-block;
}

.instantLine {
    margin: 10px auto;
    display: flex;
    text-align: center;
}

.instantSelect {
    margin-left: auto;
    margin-right: 10px;
    /*color: red; */
    font-size: 1.2em;
}

ion-content,
p,
ion-label {
    color: black;
}